@using WebApplication.Models;
@model EditCustomerViewModel

<div class="text-center">
    <h1 class="display-4">Customer - @Html.DisplayFor(m => m.CustomerID)</h1>
</div>

<form asp-controller="Customer" asp-action="Edit" method="post">
    @Html.ValidationSummary()
    <input class="text form-control" asp-for="CustomerID" type="hidden" />

    <div class="form-check">
        <input class="form-check-input" asp-for="NameStyle" />
        <label class="form-check-label" asp-for="NameStyle"></label>
        <span asp-validation-for="NameStyle"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div class="form-group">
        <label asp-for="MiddleName"></label>
        <input class="form-control" asp-for="MiddleName" />
        <span asp-validation-for="MiddleName"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div class="form-group">
        <label asp-for="Suffix"></label>
        <input class="form-control" asp-for="Suffix" />
        <span asp-validation-for="Suffix"></span>
    </div>

    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input class="form-control" asp-for="CompanyName" />
        <span asp-validation-for="CompanyName"></span>
    </div>

    <div class="form-group">
        <label asp-for="SalesPerson"></label>
        <input class="form-control" asp-for="SalesPerson" />
        <span asp-validation-for="SalesPerson"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input class="form-control" asp-for="EmailAddress" />
        <span asp-validation-for="EmailAddress"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone"></label>
        <input class="form-control" asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </div>

    <div class="row">
        <div class="col-8"></div>
        <div class="col-12 col-md-2">
            <a asp-action="Index" asp-controller="Customer" class="btn btn-block">Cancel</a>
        </div>
        <div class="col-12 col-md-2">
            <input type="submit" name="submit" value="Save" class="btn btn-primary btn-block" />
        </div>
    </div>

</form>
