<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="ida:AAD" value="https://login.microsoftonline.com/{0}"/>
    <add key="ida:Tenant" value="{your_tenant}.onmicrosoft.com"/>
    <add key="ida:ClientId" value="{your_client_id}"/>
    <add key="ida:AudienceUri" value="https://graph.microsoft.com"/>
    <add key="ida:ReplyUrl" value="http://localhost:1234"/>
    <add key="ida:CertificateName" value="CN=GraphApp1Cert"/>
  </appSettings>
</configuration>
